@layer kol-theme-component {

	:host{
		font-family: var(--font-family);
	}

	details > summary {
		border-radius: calc(var(--border-radius) / 2);
	}

	details > summary > span{
		border-bottom-color: var(--color-subtle);
	}

	details > summary:focus > span,
	details > summary:hover > span,
	details[open] > summary > span {
		border-bottom-color: var(--color-primary);
	}

	details{
		.content{
			padding: 0.25rem;
		}
	}

	details .kol-indented-text-wc {
		margin: 0.25rem 0 0 0.65rem;
	}

	.kol-icon {
		font-size: 1.2rem;
	}
}
