@layer kol-theme-component {
	:host {
		font-family: var(--font-family);
	}

	:host .kol-button-group-wc {
		display: inline-flex;
		gap: 0.5rem;
		flex-wrap: wrap;
	}

	button {
		box-sizing: border-box;
		background-color: transparent;
		border: 0;
		border-radius: var(--border-radius);
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: 22px;
		min-height: var(--a11y-min-size);
		min-width: var(--a11y-min-size);
		color: var(--color-subtle);
		padding: 0;
		transition: all 0.2s linear;
		&.selected,
		.primary{
			color: var(--color-primary);
		}
		&.selected{
			&:hover{
				color: var(--color-light);
			}
		}

		&:hover {
			color: var(--color-light);
			background-color: var(--color-primary-variant);
			border-color: var(--color-primary-variant);
			box-shadow: 0 2px 8px 2px rgba(8, 35, 48, 0.24);
		}
	}




	*[tabindex]:is(.kol-button-group-wc button){
		outline: none;
		width: 100%;
		padding: 0 0.25rem ;
		border: var(--border-width) solid  transparent;
		border-radius: var(--border-radius);
		border-bottom-width: var(--border-width);
		border-bottom-right-radius: 0;
		border-bottom-left-radius: 0;
		position: relative;
		top: var(--border-width);
	/*	&:focus-within{
			outline-color: var(--color-primary-variant);
			outline-offset: 2px;
			outline-style: solid;
			outline-width: 2px;
		}*/
	}

	*[tabindex]:is(.kol-button-group-wc button.selected){
			border-color:  var(--color-primary);
			border-bottom-color:var(--page-bg) ;

			&:hover{
				border-bottom-color: var(--color-primary) ;
			}
			&:before{
				position: absolute;
				top: 0;

				content: "";
				height: calc(1rem / 4);

				background-color: var(--color-primary);
				border-top-right-radius: calc(1rem / 8);
				border-top-left-radius: calc(1rem / 8);
				left: 0;
				right: 0;
			}

	}

	button .kol-span-wc > span {
		gap: 0.5rem;
	}

	.kol-icon {
		font-size: 1rem;
	}

	:host > div > div {
		padding: 0.25em 0;
	}

	div[role='tabpanel'] {
		height: 100%;
	}

	div.grid {
		height: 100%;
	}

	:host > .tabs-align-right {
		display: grid;
		grid-template-columns: 1fr auto;
	}

	:host > .tabs-align-right .kol-button-group-wc {
		display: grid;
		order: 2;
	}

	:host > .tabs-align-left {
		display: grid;
		grid-template-columns: auto 1fr;
	}

	:host > .tabs-align-left .kol-button-group-wc {
		display: grid;
		order: 0;
	}

	:host > .tabs-align-bottom {
		display: grid;
		grid-template-rows: 1fr auto;
	}

	:host > .tabs-align-bottom .kol-button-group-wc {
		order: 2;
	}

	:host > .tabs-align-bottom .kol-button-group-wc > div {
		display: flex;
	}

	:host > .tabs-align-bottom > .kol-button-group-wc > div > div:first-child {
		margin: 0px 1rem 0px 0px;
	}

	:host > .tabs-align-bottom > .kol-button-group-wc > div > div {
		margin: 0px 1rem;
	}

	:host > .tabs-align-top {
		display: grid;
		grid-template-rows: auto 1fr;
	}

	:host > .tabs-align-top .kol-button-group-wc {
		order: 0;
	}

	:host > .tabs-align-top .kol-button-group-wc > div {
		display: flex;
	}

	:host > .tabs-align-top > .kol-button-group-wc > div > div:first-child {
		margin: 0px 1rem 0px 0px;
	}

	:host > .tabs-align-top > .kol-button-group-wc > div > div {
		margin: 0px 1rem;
	}

	:host > div {
		display: grid;
	}

	:host > div.tabs-align-left {
		grid-template-columns: auto 1fr;
	}

	:host > div.tabs-align-right {
		grid-template-columns: 1fr auto;
	}

	:host > .tabs-align-left .kol-button-group-wc,
	:host > .tabs-align-top .kol-button-group-wc {
		order: 0;
	}

	:host > .tabs-align-bottom .kol-button-group-wc,
	:host > .tabs-align-right .kol-button-group-wc {
		order: 1;
	}

	:host > .tabs-align-left .kol-button-group-wc,
	:host > .tabs-align-right .kol-button-group-wc {
		gap: inherit;
	}

	:host > div.tabs-align-left .kol-button-group-wc > div,
	:host > div.tabs-align-left .kol-button-group-wc > div > div,
	:host > div.tabs-align-right .kol-button-group-wc > div,
	:host > div.tabs-align-right .kol-button-group-wc > div > div {
		display: grid;
	}

	:host > div.tabs-align-left .kol-button-group-wc > div > div .kol-button-wc,
	:host > div.tabs-align-right .kol-button-group-wc > div > div .kol-button-wc {
		width: 100%;
	}

	:host > div.tabs-align-bottom .kol-button-group-wc div,
	:host > div.tabs-align-top .kol-button-group-wc div {
		display: flex;
		flex-wrap: wrap;
	}

	:host .kol-button-group-wc{
		border-bottom: 1px solid var(--color-primary);
	}

/*	:host .kol-button-group-wc button {
		border: none;
	}*/
}
